/* --------------------------------------------------
    FONTS
----------------------------------------------------- */
@import 'https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Hind:wght@300;600&display=swap';

/* --------------------------------------------------
    GENERAL
----------------------------------------------------- */
body {
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    color: #1F1F1F;
    background-color: #fffefa;
}

/* --------------------------------------------------
    STYLINGS
----------------------------------------------------- */
.heading-style-1 {
    font-family: 'Abhaya Libre', serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    color: #1F1F1F;
    letter-spacing: 2px;
    line-height: 1;
}

.heading-style-2 {
    font-family: 'Abhaya Libre', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    color: #1F1F1F;
    letter-spacing: 1px;
    line-height: 1;
}

.heading-style-3 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #1F1F1F;
}

.para {
    font-family: 'Hind', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
}

.p-chic {
    font-family: 'Abhaya Libre', serif;
    font-size: 1rem;
}

.button-style-1 {
    border-radius: 50px;
    font-family: 'Hind', sans-serif;
    color: #1F1F1F;
    font-size: 1rem;
    padding: 8px 35px 5px 35px;
    border: 1px solid #1F1F1F;
    background-color: transparent;
}

.button-style-1:hover {
    background-color: #EAE3D2;
    border: 1px solid #EAE3D2;
    transition: all .5s;
}

.button-style-2 {
  border-radius: 50px;
  font-family: 'Hind', sans-serif;
  color: white;
  font-size: 1rem;
  padding: 6px 35px 3px 35px;
  border: 1px solid #1F1F1F;
  background-color: #1F1F1F
}

.button-style-2:hover {
  background-color: transparent;
  transition: all .5s;
  color: #1F1F1F;
}

.button-style-3 {
  border-radius: 50px;
  font-family: 'Hind', sans-serif;
  color: #1F1F1F;
  font-size: 1rem;
  padding: 8px 35px 5px 35px;
  background-color: #EAE3D2;
  border: 1px solid #EAE3D2;
}

.button-style-3:hover {
  background-color: transparent;
  border: 1px solid #1F1F1F;
  transition: all .5s;
}

.inputtype-style-one {
  background-color: #EAE3D2;
  padding: 10px 20px ;
  border-radius: 50px;
  border: none;
  width: 80%;
  font-family: 'Hind', sans-serif;
}

.inputtype-style-2 {
  background-color: transparent;
  padding: 5px 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #1F1F1F;
  font-family: 'Hind', sans-serif;
}

/* --------------------------------------------------
    NAVIGATIE
----------------------------------------------------- */
.nav {
    width: 100%;
    z-index: 3;
    background-color: #EAE3D2;
  }
  
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
  }
  
  .nav li a, 
  .nav .nav-login li a {
    display: block;
    text-decoration: none;
    font-family: 'Abhaya Libre', serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .nav .menu li {
      padding: 20px 0;
  }
  
  .nav .nav-logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  .nav .nav-logo img {
      width: 60px;
      transition: all .2s ease-out;

  }

  .nav .nav-logo img:hover {
    transform: scale(1.2);

}
  
/* menu */
.nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */
.nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.nav .menu-icon .navicon {
    background: #1F1F1F;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
  .nav .menu-icon .navicon:before,
  .nav .menu-icon .navicon:after {
    background: #1F1F1F;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .nav .menu-icon .navicon:before {
    top: 5px;
  }
  
  .nav .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  .nav .menu-btn {
    display: none;
  }
  
  .nav .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .login-icon{
      display: none;
  }
  

  
/* --------------------------------------------------
    FOOTER
----------------------------------------------------- */
.container{ 
  display:flex; 
  flex-direction:column; 
  justify-content: space-between;
  min-height: 100vh;
}

footer {
  margin-top: 50px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid;
  border-image-source: linear-gradient(90deg, rgba(2,0,36,0) 25%, rgba(31,31,31,1) 25%, rgba(31,31,31,1) 75%, rgba(31,31,31,0) 75%);
  border-image-slice: 1;
}


.footer-begin {
  margin-top: 50px;
}

.footer-icon svg{
  color: #1F1F1F;
  margin: 0 10px;
  height: 30px;
  width: 30px !important;
}

.footer-icon svg:hover {
  color: #264F47;
}

.footer-midden {
  margin-top: 20px;
}

.footer-midden div {
  margin: 20px 0;
  text-align: center;
  line-height: 1.5;
}

.footer-midden a,
.footer-midden address {
  font-size: 0.9rem;
}

.heading-f {
  font-family: 'Abhaya Libre', serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.footer-copyright {
  font-size: 0.7rem;
  margin: 20px 10px 10px 0;
}


/* --------------------------------------------------
    QUERIES
----------------------------------------------------- */
@media (min-width: 52em) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .footer-midden {
    display: flex;
    margin: 80px 0;
  }

  .footer-midden div{
    margin: 0 20px;
  }

  .footer-begin {
    width: 220px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 60em) {
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  .nav li {
    float: left;
    font-size: 0.9rem;
  }

  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav .menu-icon {
    display: none;
  }

  .nav .nav-logo img {
      margin: 20px 0 0 0;
  }

  .login-icon {
      display: inherit;
      font-size: 1.4rem;
      transition: all 2ms ease-in;
      margin: 15px 20px;
      transition: all .2s ease-out;
  }

  .login-icon a {
    width: 25px;
  }

  .login-icon:hover{
    transform: scale(1.2);
  }

  .login-word {
      display: none;
  }

  .nav-midden {
      margin-top: 15px !important;
  }

  .nav-midden li {
      margin: 20px;
      padding: 0 !important;
  }

  .nav-midden li a {
      padding: 7px 15px 4px 15px;
  }
  
  .nav-midden li:last-child a{
      border: 1px solid #1F1F1F;
      border-radius: 50px;
      transition: all .5s;
  }

  .nav-midden li:last-child a:hover {
      background-color: #1F1F1F;
      color: #EAE3D2;
  }

  /* stroke */

  nav ul.nav-midden li:not(:last-child)  a,
  nav ul.nav-midden li:not(:last-child) a:after,
  nav ul.nav-midden li:not(:last-child) a:before {
    transition: all .5s;
  }

  nav.stroke ul.nav-midden li:not(:last-child) a  {
    position: relative;
  }
  nav.stroke ul.nav-midden li:not(:last-child) a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #1F1F1F;
    height: 1px;
  }
  nav.stroke ul.nav-midden li:not(:last-child) a:hover:after {
    width: 100%;
  }

  .footer-midden div{
    margin: 0 40px;
  }
}


/* --------------------------------------------------
    NAV DETAIL
----------------------------------------------------- */

.container-navdetail {
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.container-navdetail img {
  width: 70px;
  margin: 20px;
}

.icon-close:hover svg{
  transform: scale(1.2);
}

.icon-close svg{
  width: 20px;
  margin: 20px;
  transition: all .2s ease-out;

}

.icon-logo img{
  transition: all .2s ease-out;
}

.icon-logo:hover img{
  transform: scale(1.2);
}


.login-form {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.registratie-form {
  width: 100%;
}

.registratie-form input {
  width: 300px;
}

.form-error {
  font-size: 0.8rem;
  color: #a11000;
  text-align: left;
  margin-left: 12%;
}

/* --------------------------------------------------
    RESERVEREN DATA RANGE PICKER
----------------------------------------------------- */

.data-wrapper .DateRangePickerInput__withBorder{
  border: none;
  border-radius: inherit;
}

.data-wrapper .DateRangePickerInput{
  background-color: transparent;
}

.data-wrapper .DateInput {
  width: auto;
  background: transparent;
}

.data-wrapper .DateInput_1 {
  margin-right: 55px;
  margin-top: 20px;
}

.data-wrapper .DateInput_input__focused {
  border-bottom: none;
  border: 1px solid black;
}

.data-wrapper .DateInput_input {
  color: #1F1F1F;
  border-radius: 50px;
  font-family: 'Hind', sans-serif;
  font-size: 1rem;
  padding: 10px 20px 6px 20px;
}

.data-wrapper .DateRangePickerInput_clearDates_svg  {
  margin-top: 20px;
  fill: black;
}

.data-wrapper .DateRangePickerInput_clearDates:hover {
  background-color: transparent;
}

.data-wrapper .DateRangePickerInput_arrow {
  display: none;
}

.data-wrapper .DayPickerKeyboardShortcuts_show__bottomRight,
.data-wrapper .DateInput_fang {
  display: none;
}

.data-wrapper .CalendarDay__selected,
.data-wrapper .CalendarDay__selected:hover,
.data-wrapper .CalendarDay__selected_span:hover {
  background: #264F47;
  border: 1px double #264F47 ;
}

.data-wrapper .CalendarDay__selected_span,
.data-wrapper .CalendarDay__hovered_span,
.data-wrapper .CalendarDay__hovered_span:hover {
  background: #96b3ad;
  border:  1px double #96b3ad;
  color: #1F1F1F;
  
}

.data-wrapper .CalendarMonth_caption {
  font-family: 'Abhaya Libre', serif;
  font-size: 1.2rem;
}

.data-wrapper .DayPickerNavigation_button__default,
.data-wrapper .DayPickerNavigation_button__default:hover,
.data-wrapper .DayPickerNavigation_button__default:active  {
  border: none;
}
